.sticky_menu {
    background-color: #000000;
    color: #aaaaaa;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-left: 10%;
    margin-top: 0px;
    font-size: 18pt;
    position: fixed;
    z-index: 100;
}

.movie
{
    width: 300px;
    background-color: #ddd;
    float: left;
    position: relative;
    margin: auto;
}

.inner_image
{
  width: 230px;
  height: 360px;
  padding: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.headline
{
  color: #111;
  font-size: 25pt;
  margin: auto;
  position: relative;
  padding: 10px;
  text-align: center;
}

.description
{
  color: #111;
  font-size: 14pt;
  margin: auto;
  position: relative;
  padding: 10px;
  text-align: center;
}

.content
{
    margin-top: 0px;
    padding-top: 90px;
}

img
{
    width: 230px;
    height: 330px;
}

.row-centered
{
  text-align: center;
}

.col-centered
{
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}

.sticky_menu a:link {
    color: #aaa;
    text-decoration: none;
  }

 .sticky_menu a:visited {
    color: #aaa;
    text-decoration: none;
  }
  
.sticky_menu a:hover {
    color: #fff;
    text-decoration: none;
  }
  
.sticky_menu a:active {
    color: #aaa;
    text-decoration: none;
  }

  /* .youtube
  {
    display: none;
  } */

body {
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}